{% extends "dashboard/base.html" %}
{% block content %}

<!-- Main content -->
<main class="main" ng-app="dlEduDistrictApp" ng-controller="DlEduDistrictController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Educaiton Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 5. Summary of damages and losses in the education sector in a District</span>
        </li>


    </ol>


    <div class="container-fluid">

        <ul class='nav nav-wizard'>
            <li class="active"><a href='#step1' data-toggle="tab">1 - Public Sector</a></li>
            <li><a href='#step2' data-toggle="tab">2 - Private Sector</a></li>
            <li><a href='#step3' data-toggle="tab">2 - TOTAL DAMAGES AND LOSSES</a></li>

        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="step1">

                <table class="table table-bordered">
                    <colgroup>
                        <col width="307"/>
                        <col width="110" span="7"/>
                    </colgroup>
                    <tbody>
                    <tr class="trhead">
                        <td style="padding-left:5px;"> Name of District</td>

                        <td colspan="2" style="background:#EFEFEF;">
                            <select id="selectbasic" name="selectbasic" class="form-control"
                                    style="width:100%;font-weight:400;">
                                <option value="1">Option one</option>
                                <option value="2">Option two</option>
                            </select>
                        </td>
                        <td colspan="2" style="padding-right:5px;text-align:right;">
                            Incident
                        </td>
                        <td colspan="3" style="background:#EFEFEF;">
                            <select id="selectbasic" name="selectbasic" class="form-control"
                                    style="width:100%;font-weight:400;">
                                <option value="1">Option one</option>
                                <option value="2">Option two</option>
                            </select>
                        </td>
                    </tr>

                    <tr class="trheadc" height="17">
                        <td rowspan="2" width="307" height="34">
                            Facilities and Assets
                        </td>
                        <td rowspan="2" width="110">
                            Total Number Affected
                        </td>
                        <td colspan="2" width="220">
                            Total Number of Students Affected
                        </td>
                        <td rowspan="2" width="110">
                            Total Damages (LKR)
                        </td>
                        <td colspan="2" width="220">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="110">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="17">
                        <td width="110" height="17">
                            Male
                        </td>
                        <td width="110">
                            Female
                        </td>
                        <td width="110">
                            Year 1
                        </td>
                        <td width="110">
                            Year 2
                        </td>
                    </tr>
                    <tr ng-repeat="dedPub in dlEduDistrict.education.Table_5.DedPub" height="17">
                        <td ng-bind="dedPub.facilities_assets" ng-model="dedPub.facilities_assets" class="tdpa" width="307" height="17">
                        </td>
                        <td width="110">
                            -
                        </td>
                        <td width="110">
                            -
                        </td>
                        <td width="110">
                            -
                        </td>
                        <td width="110">
                            -
                        </td>
                        <td width="110">
                            -
                        </td>
                        <td width="110">
                            -
                        </td>
                        <td width="110">
                            -
                        </td>
                    </tr>

                    </tbody>
                </table>


                <br>
                <a href="#step2" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                        class="glyphicon glyphicon-arrow-right"></span> Fill Private Sector Informations</a>
                <br>
            </div>
            <div class="tab-pane fade" id="step2">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="307"/>
                        <col width="110" span="7"/>
                    </colgroup>
                    <tbody>


                    <tr class="trheadc" height="17">
                        <td rowspan="2" width="307" height="34">
                            Facilities and Assets
                        </td>
                        <td rowspan="2" width="110">
                            Total Number Affected
                        </td>
                        <td colspan="2" width="220">
                            Total Number of Students Affected
                        </td>
                        <td rowspan="2" width="110">
                            Total Damages (LKR)
                        </td>
                        <td colspan="2" width="220">
                            Losses (LKR)
                        </td>
                        <td rowspan="2" width="110">
                            Total Losses (LKR)
                        </td>
                    </tr>
                    <tr class="trsubc" height="17">
                        <td width="110" height="17">
                            Male
                        </td>
                        <td width="110">
                            Female
                        </td>
                        <td width="110">
                            Year 1
                        </td>
                        <td width="110">
                            Year 2
                        </td>
                    </tr>
                    <tr ng-repeat="dedPvt in dlEduDistrict.education.Table_5.DedPvt" height="17">
                        <td ng-bind="dedPvt.facilities_assets" ng-model="dedPvt.facilities_assets" class="tdpa" width="307" height="17">
                        </td>
                        <td ng-model="dedPvt.tot_num_affected" width="110">
                            -
                        </td>
                        <td ng-model="dedPvt.nums_affected_male" width="110">
                            -
                        </td>
                        <td ng-model="dedPvt.nums_affected_female" width="110">
                            -
                        </td>
                        <td ng-model="dedPvt.tot_dmgs" width="110">
                            -
                        </td>
                        <td ng-model="dedPvt.los_year1" width="110">
                            -
                        </td>
                        <td ng-model="dedPvt.los_year2" width="110">
                            -
                        </td>
                        <td ng-model="dedPvt.tot_los" width="110">
                            -
                        </td>
                    </tr>

                    </tbody>
                </table>

                <a href="#step3" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                        class="glyphicon glyphicon-arrow-right"></span> Fill Total Damages and Losses</a>
                <br>

            </div>

            <div class="tab-pane fade" id="step3">
                <table class="table table-bordered">
                    <colgroup>
                        <col width="307"/>
                        <col width="110" span="7"/>
                    </colgroup>
                    <tbody>


                    <tr class="trheadc" height="17">
                        <td rowspan="2" width="307" height="34">
                            Ownership
                        </td>
                        <td colspan="2" rowspan="2" width="220">
                            Damages (LKR)
                        </td>
                        <td colspan="4" width="440">
                            Losses (LKR)
                        </td>
                        <td width="110">
                            Total
                        </td>
                    </tr>
                    <tr class="trsubc" height="17">
                        <td colspan="2" width="220" height="17">
                            Year 1
                        </td>
                        <td colspan="2" width="220">
                            Year 2
                        </td>
                        <td width="110">
                            (LKR)
                        </td>
                    </tr>
                    <tr ng-repeat="dedTotDmgl in dlEduDistrict.education.Table_5.DedTotDmgl" height="17">
                        <td ng-bind="dedTotDmgl.facilities_assets" class="tdpa" width="307" height="17">
                        </td>
                        <td ng-bind="dedTotDmgl.damages" colspan="2" width="220">
                            -
                        </td>
                        <td ng-bind="dedTotDmgl.los_year1" colspan="2" width="220">
                            -
                        </td>
                        <td ng-bind="dedTotDmgl.los_year2" colspan="2" width="220">
                            -
                        </td>
                        <td ng-bind="dedTotDmgl.total" width="110">
                            -
                        </td>
                    </tr>

                    </tbody>
                </table>


                <br>
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-info">Clear</button>
                    <button type="button" class="btn btn-success">Submit</button>
                </div>
                <br><br><br>
            </div>

        </div>


    </div>
    </div>

    </div>

    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
