
{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Health Sector</span></li>

           
        </ol>


        <div class="container-fluid">
<h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Baseline Informations</h3>
         <div class="row">
                    <div class="col-md-4">
					<a href="/health/base_line/bs_health_status" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline information</h3>
                                <blockquote class="card-blockquote">
                                    <p>on health status in a District or RDH</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
                    <div class="col-md-4">
					<a href="/health/base_line/bs_health_medical_facilities" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline information</h3>
                                <blockquote class="card-blockquote">
                                    <p>of medical facilities in a district</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
                    <div class="col-md-4">
					<a href="/health/base_line/bs_health_info_unit_cost_ministry_health" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline information</h3>
                                <blockquote class="card-blockquote">
                                    <p>of unit cost of the Health System in a district</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
           
           
            
                    <!--/.col-->
                     <div class="col-sm-6 col-md-4">
					 <a href="/health/base_line/bs_health_other_medical_facilities_unit_cost" style="text-decoration:none;">
                        <div class="card card-inverse card-primary text-xs-center">
                            <div class="card-block">
							<h3> Baseline information</h3>
                                <blockquote class="card-blockquote">
                                    <p>of unit cost of other medical facilities in a district </p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
             </div>
            <h3 style="width:100%;background:#2F477A;padding:6px;color:#fff;">Damage and Losses</h3>
             <div class="row">
                    <!--/.col-->
                     <div class="col-sm-6 col-md-4">
					 <a href="/health/damage_losses/health_damagelost_ministry_helth" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>in the Line Ministry Health System</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-6 col-md-4">
					<a href="/health/damage_losses/dl_health_damagelost_other_medical_facilities" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>of the other medical facilities</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					                    <div class="col-sm-6 col-md-4">
										<a href="/health/damage_losses/health_damagelost_private" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Damages and Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>assessment of private health facilities</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					                    <div class="col-sm-6 col-md-4">
										<a href="/health/damage_losses/dl_health_summary_sector_district" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>in the health sector in a district</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="/health/damage_losses/health_summery_damageloss_province" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p>in the health sector in the province</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
					  <div class="col-sm-6 col-md-4">
										<a href="/health/damage_losses/dl_health_summary_damage_nationwide" style="text-decoration:none;">
                        <div class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
							<h3> Summary Damages & Losses</h3>
                                <blockquote class="card-blockquote">
                                    <p> in the health sector nationwide</p>
                                    
                                </blockquote>
                            </div>
                        </div>
						</a>
                    </div>
                    <!--/.col-->
					
                </div>   

        </div>
        <!-- /.conainer-fluid -->
    </main>
   {% endblock content %}
